@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #121212;

  /* Primary (SOLID – used for text, borders, etc.) */
  --primary: #f8682f;

  /* Primary Gradient (used for backgrounds & gradient text) */
  --primary-gradient: linear-gradient(
    45deg,
    #0061ff,
    #60efff
  );

  --primary-foreground: #0B1120;
  
  --card: #1e293b;
  --card-foreground: #ffffff;
  
  --muted: #334155;
  --muted-foreground: #94a3b8;
  
  --border: #334155;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fira: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@utility text-gradient {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(--font-geist-sans), mono;
}

@utility bg-gradient {
  background: var(--primary-gradient);
}

@utility border-gradient {
  border-image: var(--primary-gradient) 1;
}

@utility underline-gradient {
  background: var(--primary-gradient);
  background-size: 100% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

p {
  font-family: var(--font-mono), monospace;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  color: #ffffff;
}
